<div class="lg:h-screen">

  <div class="flex flex-column justify-content-between min-h-screen surface-50">

    <header>

      <app-title />

    </header>


    <main class="flex flex-grow-1 justify-content-center align-items-center m-2 lg:m-0">

      <div class="grid " style="max-width:1400px;">

        <div class="col-12 lg:col-6">
          <p-accordion [activeIndex]="1">
            <p-accordionTab header="🧭 Kieskompas">

              <app-compass-configuration />

            </p-accordionTab>
            <p-accordionTab header="📍 Jouw positie">

              <app-pin-configuration />

            </p-accordionTab>
            <p-accordionTab header="🗳️ Partijen">
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique
                sunt in culpa
                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                facilis
                est
                et
                expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit
                quo
                minus.
              </p>
            </p-accordionTab>
          </p-accordion>
        </div>

        <div class="col-12 lg:col-6">

          <app-compass />

        </div>

      </div>

    </main>


    <footer>

      <app-credits />

    </footer>

  </div>
</div>