<div class="lg:h-screen">

  <div class="flex flex-column justify-content-between min-h-screen surface-50">

    <header>

      <app-title />

    </header>


    <main class="flex flex-grow-1 justify-content-center align-items-center m-2 lg:m-0">

      <div class="grid flex-grow-1" style="max-width:1400px;">

        <div class="col-12 lg:col-6">

          <p-panel>
            <ng-template pTemplate="header">
              <div class="flex align-items-center justify-content-between w-full">
                <h2 class="m-0 ml-2 primary-900">
                  {{ compassService.compass.name }}
                </h2>
                <span class="flex gap-2">
                  <p-button size="small" size="small" [label]="!copied ? 'Delen' : 'Gekopiëerd'"
                    [icon]=" !copied ? 'pi pi-share-alt' : 'pi pi-check'" [severity]="!copied ? 'primary' : 'success'"
                    [outlined]="true" (onClick)="this.shareButtonClicked()"></p-button>
                  <p-button size="small" size="small" icon="pi pi-refresh" [outlined]="true"
                    (onClick)="compassService.resetAll()"></p-button>
                </span>
              </div>
            </ng-template>

            <app-compass />

          </p-panel>


        </div>

        <div class="col-12 lg:col-6">
          <p-accordion [activeIndex]="0">
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="flex align-items-center">

                  <i class="pi pi-compass mr-2 primary-600"></i>
                  <span class="vertical-align-middle">Kieskompas</span>
                </div>
              </ng-template>

              <app-compass-configuration />

            </p-accordionTab>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="flex align-items-center">
                  <i class="pi pi-map-marker mr-2 primary-600"></i>
                  <span class="vertical-align-middle">Jouw locatie</span>
                </div>
              </ng-template>

              <app-pin-configuration />

            </p-accordionTab>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="flex align-items-center">
                  <i class="pi pi-circle mr-2 primary-600"></i>
                  <span class="vertical-align-middle">Politieke partijen</span>
                </div>
              </ng-template>

              <app-party-configuration />

            </p-accordionTab>
          </p-accordion>
        </div>

      </div>

    </main>


    <footer>

      <app-credits />

    </footer>

  </div>
</div>