<div class="flex flex-row justify-content-center">

    <svg class="surface-100 w-6" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 1000">
        <text font-family="Helvetica, Arial, sans-serif" font-size="28" letter-spacing="2" text-anchor="middle" x="500"
            y="30" fill="#404040">
            Progressief
        </text>
        <text font-family="Helvetica, Arial, sans-serif" font-size="28" letter-spacing="2" text-anchor="middle" x="500"
            y="980" fill="#404040">
            Conservatief
        </text>
        <text font-family="Helvetica, Arial, sans-serif" font-size="28" letter-spacing="2" text-anchor="middle"
            transform="rotate(-90 500 500)" x="500" y="30" fill="#404040">
            Links
        </text>
        <text font-family="Helvetica, Arial, sans-serif" font-size="28" letter-spacing="2" text-anchor="middle"
            transform="rotate(90 500 500)" x="500" y="30" fill="#404040">
            Rechts
        </text>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="80%" height="80%" x="10%" y="10%">
            <line x1="0%" y1="50%" x2="100%" y2="50%" stroke="#999999" stroke-width="3"></line>
            <line x1="50%" y1="0%" x2="50%" y2="100%" stroke="#999999" stroke-width="3"></line>
        </svg>
    </svg>

</div>