<div class="flex justify-content-center align-items-center m-2 lg:m-0">

    <div class="grid " style="max-width:1400px;">

        <div class="col-12 lg:col-6">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="🧭 Kieskompas">
                    <app-compass-configuration />
                </p-accordionTab>
                <p-accordionTab header="📍 Jouw positie">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam
                        rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.
                        Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores
                        eos
                        qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                        modi.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="🗳️ Partijen">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti
                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                        similique
                        sunt in culpa
                        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                        facilis
                        est
                        et
                        expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                        impedit
                        quo
                        minus.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>

        <div class="col-12 lg:col-6">
            <svg class="surface-0 border-round-lg" xmlns="http://www.w3.org/2000/svg" version="1.1"
                viewBox="0 0 1000 1000">
                <text *ngIf="compassService.yAxis" font-family="Helvetica, Arial, sans-serif" font-size="28"
                    letter-spacing="2" text-anchor="middle" x="500" y="30" fill="#404040">
                    {{ compassService.TopLabel }}
                </text>
                <text *ngIf="compassService.yAxis" font-family="Helvetica, Arial, sans-serif" font-size="28"
                    letter-spacing="2" text-anchor="middle" x="500" y="980" fill="#404040">
                    {{ compassService.BottomLabel }}
                </text>
                <text *ngIf="compassService.xAxis" font-family="Helvetica, Arial, sans-serif" font-size="28"
                    letter-spacing="2" text-anchor="middle" transform="rotate(-90 500 500)" x="500" y="30"
                    fill="#404040">
                    {{ compassService.LeftLabel }}
                </text>
                <text *ngIf="compassService.xAxis" font-family="Helvetica, Arial, sans-serif" font-size="28"
                    letter-spacing="2" text-anchor="middle" transform="rotate(90 500 500)" x="500" y="30"
                    fill="#404040">
                    {{ compassService.RightLabel }}
                </text>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="80%" height="80%" x="10%" y="10%">
                    <line *ngIf="compassService.xAxis" x1="0%" [attr.y1]="compassService.xAxisPos.toString() + '%'"
                        x2="100%" [attr.y2]="compassService.xAxisPos.toString() + '%'" stroke="#999999"
                        stroke-width="3"></line>
                    <line *ngIf="compassService.yAxis" [attr.x1]="compassService.yAxisPos.toString() + '%'" y1="0%"
                        [attr.x2]="compassService.yAxisPos.toString() + '%'" y2="100%" stroke="#999999"
                        stroke-width="3">
                    </line>
                </svg>
            </svg>
        </div>

    </div>

</div>